.sidebar {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 250px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.sidebar a:hover {
  background: #575757;
}